{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: rgba(0, 77, 64, 0.7);
        color: white; 
    }
    
    table thead th {
        color: white; 
    }
    
    .btn-primary {
        background-color: #206156; 
        border-color: #b3b4b4;
        color: white;
    }

    .btn-warning {
        background-color: #ffc107; 
        border-color: #ffc107; 
        color: black; 
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545; 
        color: white;
    }
</style>

    <h2>Gestión de Cursos</h2>
    <p>
    <a href="{{ url_for('new_course') }}" class="btn btn-primary">Nuevo Curso</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Profesor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.professor_name }}</td>
                    <td>
                        <a href="{{ url_for('edit_course', id=course.id) }}" class="btn btn-warning">Editar</a>
                        <form action="{{ url_for('delete_course', id=course.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
